.app {
  text-align: center;
}

.app__nav {
  margin: 20px;
  text-align: left;
}

.app__nav-container {
  position: fixed;
  height: 50px;
  width: 100%;
  background: white;
  z-index: 1;
}

.app__container {
  position: relative;
  top: 50px;
}
